# Copyright Broadcom, Inc. All Rights Reserved.
# SPDX-License-Identifier: APACHE-2.0

services:
  mariadb:
    image: docker.io/bitnami/mariadb:latest
    volumes:
      - 'mariadb_data:/bitnami/mariadb'
    ports:
      - '3306:3306'
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
      - MARIADB_USER=bn_wordpress
      - MARIADB_DATABASE=bitnami_wordpress
  wordpress:
    image: docker.io/bitnami/wordpress:6
    ports:
      - '80:8080'
      - '443:8443'
    volumes:
      - 'wordpress_data:/bitnami/wordpress'
      # Ensure this line is commented out on the initial run of the docker compose.
      # Otherwise the wordpress container will not start.
      # To mount the bot-shield plugin, uncomment the line below and restart the docker compose.
      - './plugins/bot-shield:/bitnami/wordpress/wp-content/plugins/bot-shield'

    depends_on:
      - mariadb
    environment:
      # ALLOW_EMPTY_PASSWORD is recommended only for development.
      - ALLOW_EMPTY_PASSWORD=yes
      - WORDPRESS_DATABASE_HOST=mariadb
      - WORDPRESS_DATABASE_PORT_NUMBER=3306
      - WORDPRESS_DATABASE_USER=bn_wordpress
      - WORDPRESS_DATABASE_NAME=bitnami_wordpress
      - WORDPRESS_SKIP_BOOTSTRAP=no
      - WORDPRESS_TABLE_PREFIX=wp_
      - WORDPRESS_BLOG_NAME=BotShield
      - WORDPRESS_USERNAME=admin
      - WORDPRESS_PASSWORD=adminpassword
      - WORDPRESS_EMAIL=admin@example.com
volumes:
  mariadb_data:
    driver: local
  wordpress_data:
    driver: local
