

.panel-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
}

.chart-container {
  position: relative;
  height: 400px;
  width: 100%;
  margin: 20px 0;

  canvas {
    width: 100% !important;
    height: 400px !important;
  }
}
