// Colors
:root {
  --color-primary: #007bff;
  --color-primary-hover: #0056b3;
  --color-background: #F0F0F1;
  --color-panel: #F4F3F6;
  --color-output: #e2e2e3;
  --color-border: #d8d8d8;
  --color-divider: #ccc;
  --color-divider-hover: #999;
  --color-text: #333;
  --color-text-dark: #000;
  --color-white: #FFF;
  --color-hover: #eef2f3;
  --color-nav-tab: #cdcdcd;
  --color-nav-hover: #e0e0e0;
  --color-nav-active: #d8d8d8;
  --color-footer: #f1f1f1; 
  
}