 <form class="robots-form" (ngSubmit)="onSubmit()">
    <div class="url-input">
      <label for="robotsTxtUrl">robots.txt URL:</label>
      <input 
        type="text" 
        id="robotsTxtUrl" 
        name="robotsTxtUrl"
        [(ngModel)]="robotsTxtUrl">
    </div>
    
    <div class="bot-list" *ngIf="botList.length">
      <h2>Select Bots to Block</h2>
      <div class="checkbox-group">
        <label *ngFor="let bot of botList">
          <input type="checkbox" 
                 [name]="bot" 
                 [(ngModel)]="selectedBots[bot]"> {{bot}}
        </label>
      </div>
    </div>
    
    <button type="submit">Generate robots.txt</button>
  </form> 
