header {
  display: flex;
  align-items: center;
  margin: 15px;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  margin: 15px;
  margin-top: 0;
  padding-top: 0;
}

.container {
  border: 1px solid var(--color-border);
  background-color: var(--color-panel);
}

footer {
  background-color: var(--color-footer);
  padding: 10px;
  text-align: center;
  border-top: 1px solid var(--color-divider);
}

.shield-icon {
  width: 150px;
  height: 50px;
  background-image: url('../../public/assets/botshieldus-icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
}

.logo {
  width: 150px;
  height: 50px;
  background-image: url('../../public/assets/botshieldus-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 15px;
  margin-bottom: 7px;
  display: flex;
  position: relative;
  
}

.nav-menu li {
  display: inline;
}

.nav-menu a {
  text-decoration: none;
  padding: 10px 15px;
  color: var(--color-text);
  border: none;
  transition: background-color 0.3s, border-color 0.3s;
  background-color: var(--color-nav-tab);
}

.nav-menu a:hover {
  background-color: var(--color-nav-hover);
}

.nav-menu a.active {
  color: #000;
  background-color: var(--color-panel);
  border-bottom: 1px solid var(--color-panel);
  position: relative;

}

.nav-menu li:first-child a {
  border-left: 1px solid var(--color-border);
}

.nav-menu a {
  border-top: 1px solid var(--color-border);
}

.nav-menu a {
  border-right: 1px solid var(--color-border);
}