<div class="main-container">
  <header>
    <div class="shield-icon">
    </div>
    <div class="logo">
    </div>
  </header>

  <nav>
    <ul class="nav-menu">
      <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/allowed-bots" routerLinkActive="active">Allowed Bots</a></li>
      <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
    </ul>
  </nav>

  <div class="content">
    <div class="container"> 
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer>
    <p>Agent AI Bot Protect Footer</p>
  </footer>
</div>
